.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
}

input[type="file"] {
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.PredictionResult {
  margin-top: 20px;
}
